/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode

z-carga_de_datos_query_SQL.txt
z-consultasSQL.txt
z-finalisima.txt
z-notas.txt